.App {
  text-align: center;
  width: 100%;

}

@media (prefers-reduced-motion: no-preference) {
  
}
.cards-container {
  width: 1000px;
  background-color: #ff0000;
  margin: 1rem auto;
}

@media only screen and (max-width: 1000px) {
 .cards-container {
   width: 100%;
 }
}